name: Terraform Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - prod

permissions:
  id-token: write
  contents: read
env:
  TF_VAR_vpn_shared_key: ${{ secrets.VPN_SHARED_KEY }}

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login via OIDC
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform Init (remote backend)
        run: |
          terraform init \
            -backend-config="use_azuread_auth=true" \
            -backend-config="use_oidc=true" \
            -backend-config="tenant_id=${{ secrets.AZURE_TENANT_ID }}" \
            -backend-config="subscription_id=${{ secrets.AZURE_SUBSCRIPTION_ID }}" \
            -backend-config="client_id=${{ secrets.AZURE_CLIENT_ID }}" \
            -backend-config="storage_account_name=sto12b7idvrj" \
            -backend-config="container_name=tfstate1" \
            -backend-config="key=${{ github.event.inputs.environment }}.terraform.tfstate"

      - name: Terraform Plan
        run: terraform plan -var-file="env/${{ github.event.inputs.environment }}.tfvars"
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      #Позже можно включить Apply:
      #- name: Terraform Apply
      # run: terraform apply -auto-approve -var-file="env/${{ github.event.inputs.environment }}.tfvars"
      #env:
      #ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      #ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      #ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
